.vertex.enabled {
	fill: orange;
	transition-duration: 0.5s;
}

.vertex:not(.enabled) {
	fill: lightgray;
	transition-duration: 0.5s;
}

.edge {
	stroke: lightgray;
	transition-duration: 0.5s;
}

.graphMap {
	background-color: black;
}